<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="../../static/favicon.png">
  <link rel="stylesheet" href="../../static/user/css/spotsDetails.css">
  <title>查看景点</title>
</head>

<body>

  <div class="container">
    <div class="container_top">
      <div class="container_top_img"></div>
      <div class="container_top_text">
        <div class="container_top_text_title0">秦始皇帝陵博物馆（兵马俑）</div>
        <div class="container_top_text_title1">秦始皇的地下御林库</div>
        <div class="container_top_text_location">位 置：陕西省西安市临潼区...</div>
        <div>
          <div class="container_top_text_price">￥120起</div>
          <button class="container_top_text_btn">立即预定</button>
        </div>
      </div>
    </div>
    <div class="container_bottom">

      <div class="container_bottom_img">
        <img src="https://imgs.qunarzz.com/sight/p0/1505/10/100d2e82848fb2.water.jpg_990x390_e895919f.jpg" alt="">
        <div class="container_bottom_img_describe">
          <div class="container_bottom_img_describe_mid">世界第八大奇迹<br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;1987年，秦始皇帝陵被列入世界文化遗产保护名录，先后已有200多位国家领导人参观访问，成为中国古代辉煌文明的一张金字名片。</div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>