<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xupt.demo1.dao.SpotDetailDao">
    <select id="findSpotDetailById" resultType="com.xupt.demo1.entity.SpotDetail">
        select * from t_spot_detail where id = #{spotDetailId}
    </select>

    <insert id="insertSpotDetailData" parameterType="com.xupt.demo1.entity.SpotDetail">
        insert into t_spot_detail(id,title,info,picture) values(#{spotDetail.id},#{spotDetail.title},#{spotDetail.info},#{spotDetail.picture});
    </insert>

    <update id="updateSpotDetail" parameterType="com.xupt.demo1.entity.SpotDetail">
        update t_spot_detail
            set title = #{spotDetail.title},info = #{spotDetail.info},picture = #{spotDetail.picture}
                where id = #{spotDetail.id}
    </update>

</mapper>